.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom:  1px;
    background: white;
}
.nav-logo{
    /* margin-left: 50px; */
    width: 500px;
}
.nav-profile{
    width: 75px;
}
.nav-logo h1{
    text-wrap: nowrap;
}

@media (max-width:800px) {
    .navbar{
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}